[Unit]
Description="Dirigent"

[Service]
ExecStart=/usr/bin/node app.js
WorkingDirectory=/home/dirigent
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=Dirigent

[Install]
WantedBy=multi-user.target